


/* Global */

.btn{
	height: 30px;
	background: #e8491d;
	border: none;
	padding: 0 20px;
	color: #fff;
	margin-top: 5px;
	margin-right: 18px;
	float: right;
}

/* Header */

#header{
	background-color: palegreen;
	color: #fff;
	height: 150pt;
	border: 1px solid mediumspringgreen; 
	box-sizing: border-box;
}

#header nav{
	float: right;
	margin-top: 10px;
}

#header li{
	display: inline;
	margin: 5pt;
}

#header img{
	width: 100pt;
	height: 50pt;
}

#content{
	margin: 20px;
}

/* Container*/

#container{
	height: 600px;
	box-sizing: border-box;
}
/* Sidebar */

.sidebar{
	width: 25%;
	height: 600px;
	box-sizing: border-box;
}

#sideLeft{
	float: left;
	background-color: #FFFF99;
	border: 1px solid #CCCC00;
}

#sideLeft ul{
	margin: 15pt;
}

#main{
	width: 50%;
	height: 600px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
}

#main #contentArea1{
	height: 200px;
	margin: 10px;
	border: 1px solid black;
}

#main #contentArea2{
	height: 150px;
	margin: 10px;
	border: 1px solid black;

}

#main #contentArea3{
	height: 100px;
	margin: 10px;
	border: 1px solid black;

}
#sideRight{
	float: right;
	background-color: lightsalmon;
	border: 1px solid crimson;
}

#sideRight #form{
	width: 95%;
	height: 40%;
	padding: 10px;
	margin: 10px;
	background-color: thistle;
	border: 1px solid fuchsia;
	box-sizing: border-box;
}

#sideRight #form input{
	width: 90%;
	padding: 15px;
	margin: 15px;
	text-align: center;
	box-sizing: border-box;
}


/* footer */
#footer{
	clear: both;
	height: 200pt;
	background-color: thistle;
	border: 1px solid fuchsia;
	text-align: center;
	padding: 30px;
	box-sizing: border-box;
}